/* Stylesheet by Jacob P. Hrubecky, 2017 */
body{
  margin: 30;
}

#mydiv{

}

.mydivclass{

}

.axispath,
.axisline{
	fill: none;
	stroke: black;
	stroke-width: 1px;
	shape-rendering: crispEdges;
}

.axis text{
	font-family: sans-serif;
	font-size: 1.11em;
}

.title{
    font-family: sans-serif;
    font-size: 1.5em;
    font-weight: bold;
}